.pink {
    background-color: pink;
}

.purple {
    background-color: purple;
}

.silver {
    background-color: silver;
}

.orange {
    background-color: orange;
}

.control-container {
    background-color: pink;
}